{% extends '@templates/base.html.twig' %}

{% block title %}{% endblock title %}

{% block meta %}{% endblock meta %}

{% block body %}
  <body id="index">
  {% endblock body %}

  {% block h1 %}{% endblock h1 %}

  {% block content %}
    <div id="colorlib-page">
      <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle">
        <i></i>
      </a>
      <aside id="colorlib-aside" role="complementary" class="js-fullheight">
        <nav id="colorlib-main-menu" role="navigation">
          <ul>
            <li class="colorlib">
              <a href="{{ path('index') }}">Home</a>
            </li>
            <li>
              <a href="{{ path('test') }}">Example</a>
            </li>
            <li>
              <a href="{{ path('configuration') }}">Configuration</a>
            </li>
            <li>
              <a href="{{ path('api') }}">Api</a>
            </li><br>
            <li>
              <a href="https://gitlab.com/selektor-js/selektor" target="_blank">Gitlab</a>
            </li>
            <li>
              <a href="https://www.npmjs.com/package/@selektor/selektor" target="_blank">Npm</a>
            </li>

          </ul>
        </nav>
      </aside>
    </div>
     {% endblock content %}