{% extends '@templates/base.html.twig' %}

{% block title %}{% endblock title %}

{% block meta %}{% endblock meta %}

{% block body %}
  <body id="index">
  {% endblock body %}

  {% block h1 %}{% endblock h1 %}

  {% block content %}
    <div id="colorlib-page">
      <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle">
        <i></i>
      </a>
      <aside id="colorlib-aside" role="complementary" class="js-fullheight">
        <nav id="colorlib-main-menu" role="navigation">
          <ul>
            <li>
              <a href="{{ path('index') }}">Home</a>
            </li>
            <li>
              <a href="{{ path('test') }}">Example</a>
            </li>
            <li>
              <a href="{{ path('configuration') }}">Configuration</a>
            </li>
            <li>
              <a href="{{ path('api') }}">Api</a>
            </li><br>
            <li>
              <a href="https://gitlab.com/selektor-js/selektor" target="_blank">Gitlab</a>
            </li>
            <li>
              <a href="https://www.npmjs.com/package/@selektor/selektor" target="_blank">Npm</a>
            </li>

          </ul>
        </nav>
      </aside>
    </div>
   
  <div id="colorlib-main">

      <div class="container-fluid px-3 px-md-0">
        <div class="row">
     
          <div class="basic">
            <h2>Basic usages</h2><hr>
           <div class="code-bloc-1 code-wrapper">
              <pre><code class="code-showcase javascript">import {TemplateConfiguration, ValidTemplateConfiguration} from './template-configuration';
import {RemoteConfiguration, ValidRemoteConfiguration} from './remote-configuration';

export interface Configuration {
    multiple?: boolean;
    placeholder?: string;
    templates?: TemplateConfiguration;
    remote?: RemoteConfiguration|string;
}

export interface ValidConfiguration {
    multiple: boolean;
    placeholder: string;
    templates: ValidTemplateConfiguration;
    remote: ValidRemoteConfiguration|null;
}
</code>
</pre>
<button class="copy-button"><i class="fas fa-copy"></i></button>
            </div>
          </div>
     
          </div>
       
          </div>
        </div>
      </div>

    </div>

{% endblock content %}
