{% extends '@templates/base.html.twig' %}

{% block title %}{% endblock title %}

{% block meta %}{% endblock meta %}

{% block body %}
  <body id="index">
  {% endblock body %}

  {% block h1 %}{% endblock h1 %}

  {% block content %}
    <div id="colorlib-page">
      <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle">
        <i></i>
      </a>
      <aside id="colorlib-aside" role="complementary" class="js-fullheight">
        <nav id="colorlib-main-menu" role="navigation">
          <ul>
            <li>
             <a href="{{ path('index') }}">Home</a>
            </li>
            <li>
              <a href="{{ path('test') }}">Example</a>
            </li>
              <li>
              <a href="{{ path('configuration') }}">Configuration</a>
            </li>
            <li>
              <a href="{{ path('api') }}">Api</a>
            </li><br>
            <li>
              <a href="https://gitlab.com/selektor-js/selektor" target="_blank">Gitlab</a>
            </li>
            <li>
              <a href="https://www.npmjs.com/package/@selektor/selektor" target="_blank">Npm</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
    <div id="colorlib-main">

      <div class="container-fluid px-3 px-md-0">
        <div class="row">
          <div class="col-md-12 mb-4">
            <h1 class="d-flex justify-content-center">SELEKTOR</h1>
            <small>Example</small>
            <select name="pets" id="pet-select" placeholder="Select an animal..." multiple="multiple">
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="hamster">Hamster</option>
              <option value="parrot">Parrot</option>
              <option value="spider">Spider</option>
              <option value="goldfish">Goldfish</option>
            </select>
          </div>
          <div class="presentation">
            <div class="order-0">
              <p>Selektor is a lite-weight
                <code>&lt;select&gt;</code>
                UI alternative. It is based on native HTMLSelectElement. You can:</p>
              <ul>

                <li>Use your owns templates or one based on your favorite UI framework.</li>
                <li>Search/filter over select's options.</li>
                <li>Navigate by keyboard (arrows, paragraphs, escape, enter, etc...)</li>
                <li>Programmatically disable options.</li>
                <li>Load options from remote source (API, Ajax, etc...).</li>
                <li>Usable in your JavaScript and TypeScript projects!</li>
              </ul>
            </div>
          </div>
          <div class="basic">
            <h2>Basic usages</h2><hr>
            <div class="code-bloc-1 code-wrapper">
              <pre><code class="code-showcase javascript">import {selektor} from '@selektor/selektor';

// if you want to init existing selektor by data attribute.
selektor.scanhtmlsection();

// same as previous but limit on a part of the document.
selektor.scanhtmlsection('#your-section-id');
selektor.scanhtmlsection(document.queryselector('#your-section-id'));

// manually init selektor.
const select = new selektor('select#your-select-id');
const select = new selektor(document.queryselector('select#your-select-id'));

// with config.
const select = new selektor('select#your-select-id', {
    // put your config here
});</code></pre>
                <button class="copy-button"><i class="fas fa-copy"></i></button>
            </div>
          </div>
          <div class="install">
            <h2>Install</h2><hr>
            <div class="code-bloc-1 code-wrapper">
            <pre><code class="code-showcase">npm install @selektor/selektor</code></pre>
                <button class="copy-button"><i class="fas fa-copy"></i></button>
          </div>

              <h2>OR</h2>

              <div class="code-bloc-1 code-wrapper">
                  <pre><code class="code-showcase">yarn add @selektor/selektor</code></pre>
                <button class="copy-button"><i class="fas fa-copy"></i></button>
              </div>
          </div>
          <div class="license">
          <h2>Licence</h2><hr>
          <strong>Copyright (c) 2021 Benjamin Georgeault</strong><br><br>
          <p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is furnished
to do so, subject to the following conditions:
</p>
          <p>The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.
</p>
          <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
</p>
          </div>
          </div>
        </div>
      </div>

    </div>

  {% endblock content %}
